.LoginBtn {
  width: 109px;
  height: 30px;
  margin: 45px 40px 0 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #87b448;
  float: right;
}