footer {
  height: 73px;
  font-size: 12px;
  vertical-align: middle;
}

footer p {
  display: inline-block;
  color: #b7bfcd;
  line-height: 42px;
  margin: 20px 63.8888% 0 80px;
}

footer a {
  color: #b7bfcd;
  text-decoration: none;
  vertical-align: middle;
}

footer a:nth-child(2) {
  margin-right: 28px;
}

footer a:nth-child(3) {
  margin-right: 20px;
}

footer a:nth-child(4) {
  margin-right: 84px;
}

footer a:hover {
  color: #87b448;
}